@font-face {
  font-family: '8-bit_pusabregular';
  src: url('../fonts/8-bit_pusab-webfont.woff2') format('woff2'),
  url('../fonts/8-bit_pusab-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}