.page-template-front {

  .site-desktop-title {
    margin: 0 auto;
    width: 600px;
    max-width: 90%;
  }

  .primary-nav {
    margin: 3rem 0 20px 0;
    justify-content: center;

    @include breakpoint(medium) {
      font-size: 2rem;
    }
  }

  .home-section {
    @include xy-grid-container;
    margin: 2rem auto;

    @include breakpoint(medium) {
      margin: 5rem auto;
    }
  }

  .music-embed {
    width: 100%;
  }

  .intro {
    color: $white;
  }
}