.page-template-media {

  .media-container {
    @include xy-grid;
    @include xy-grid-container;
  }

  .media-section {
    @include xy-cell(12);
    margin: 3rem auto;
  }

  .music-embed {
    margin-top: 2rem;

    iframe {
      width: 100%;
    }
  }

  .video-embed {
    margin-top: 2rem;

    iframe {
      width: 100%;
      height: 400px;

      @include breakpoint(medium) {
        height: 600px;
      }
    }
  }

  .slideshow {
    margin-top: 2rem;
  }
}